<ion-view title="Home">
  <link href="../css/outside.home.css" rel="stylesheet">
  <ion-content>
    
    <button class="button button-positive button-full"  ui-sref="outside.login">Login</button>
    <div id="logo">
        <img src=/img/logo_bianco.png>
    </div>
    <div class="facolta">
        Le nostre facoltà:
      <button class="button button-positive1 button-full"  ui-sref="outside.informatica">Informatica</button>
      <button class="button button-positive3 button-full"  ui-sref="outside.matematica">Matematica</button>               
      <button class="button button-positive2 button-full"  ui-sref="outside.biologia">Biologia</button>
    </div>
        


    
  </ion-content>
</ion-view>